################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ColorHistogram/ColorHistogram/x64
/ColorHistogram/.vs/ColorHistogram/v15
/ColorHistogram/ColorHistogram/Debug
/ColorHistogram/x64
/ColorHistogram/Debug
/ObjectRecognitionWorkbench/.vs/ObjectRecognitionWorkbench/v15
/ObjectRecognitionWorkbench/FormBased/x64
/ObjectRecognitionWorkbench/OLD
/ObjectRecognitionWorkbench/x64
/oglMFCDialog/.vs/oglMFCDialog
/oglMFCDialog/Debug
/WallFinder/.vs/WallFinder/v15
/WallFinder/WallFinder/x64
/WallFinder/x64
