################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ColorHistogram/ColorHistogram/x64
/ColorHistogram/.vs/ColorHistogram/v15
/ColorHistogram/ColorHistogram/Debug
/ColorHistogram/x64
/ColorHistogram/Debug
/ObjectRecognitionWorkbench/.vs/ObjectRecognitionWorkbench/v15
/ObjectRecognitionWorkbench/FormBased/x64
/ObjectRecognitionWorkbench/OLD
/ObjectRecognitionWorkbench/x64
/oglMFCDialog/.vs/oglMFCDialog
/oglMFCDialog/Debug
/WallFinder/.vs/WallFinder/v15
/WallFinder/WallFinder/x64
/WallFinder/x64
/Build Vision Dev Environment/Build Vision Dev Environment/Debug
/Build Vision Dev Environment/Debug
/Build Vision Dev Environment/.vs/Build Vision Dev Environment/v15/ipch
/Build Vision Dev Environment/.vs/Build Vision Dev Environment/v15
/CorrespondenceGrouping/.vs/CorrespondenceGrouping/v15
/CorrespondenceGrouping/CorrespondenceGrouping/Debug
/CorrespondenceGrouping/CorrespondenceGrouping/x64
/CorrespondenceGrouping/x64
/HypothesisVerification/.vs/HypothesisVerification/v15
/HypothesisVerification/HypothesisVerification/x64
/HypothesisVerification/x64
/RegionGrowingSegmentation/.vs/RegionGrowingSegmentation/v15
/RegionGrowingSegmentation/RegionGrowingSegmentation/x64
/RegionGrowingSegmentation/x64
/CorrespondenceGrouping/CorrespondenceGrouping/Office.pcd
/ObjectRecognitionWorkbench/Cargo in Office Filtered.pcd
/ObjectRecognitionWorkbench/FormBased/Office.pcd
/OrganizedEdgeDetection/.vs/OrganizedEdgeDetection/v15
/OrganizedEdgeDetection/OrganizedEdgeDetection/x64/Debug
/OrganizedEdgeDetection/x64/Debug
/ORW
/ORW.zip
